<section>
  <h2>Welcome
    {{username}},
  </h2>
  <h2>This email is to notify you that your Budget Planner account has been
    successfully created! We're glad that you chose Budget planning for all of
    your budget planning needs. Our aim is to help you ensure that you save as
    much money possible while making smart decisions for your financial future.
    If you ever need help, don't hesitate to contact us!
  </h2>
</section>