<section>
  <h2>Hello
    {{username}},
  </h2>
  <h2>This email is to notify you that your profile information has been updated
    successfully! If you are unaware that any changes were made, please notify
    our team immediately. If you do not have a Personal Piggybank account,
    please ignore this email.
  </h2>
</section>