<section>
  <h2>Dear {{username}},</h2>
  <h2>One of your scheduled income has been received.</h2>
  <dl id="income-info-list">
    <div class="income-info">
      <dt>Received Income Title:</dt>
      <dd>{{title}}</dd>
    </div>
    <div class="income-info">
      <dt>Received Income Salary:</dt>
      <dd>${{salary}}</dd>
    </div>
    <div class="income-info">
      <dt>Your New Total Asset Value:</dt>
      <dd>${{totalAssets}}</dd>
    </div>
  </dl>

  <h2>If there are any errors or if you need to change your income or assets
    value at any time, please vist our app.</h2>
</section>