<section>
  <h2>We have received a request for a one time verification code for creating
    your Personal Piggybank Account.</h2>
  <h2>This code will expire in ten minutes.</h2>
  <div class="code-div">
    <b class="one-time-verification-code">{{otp}}</b>
  </div>
  <h2>If you did not make a request, please notify our team as soon as possible.</h2>
</section>